<form class="alignment-drift-tracker-settings-form">
    <div class="form-group">
        <label for="evilLabel">Evil Label</label>
        <input type="text" name="evil" value="{{evil}}" />
    </div>
    <div class="form-group">
        <label for="goodLabel">Good Label</label>
        <input type="text" name="good" value="{{good}}" />
    </div>
    <div class="form-group">
        <label for="neutralLabel">Neutral Label</label>
        <input type="text" name="neutral" value="{{neutral}}" />
    </div>
    <button type="submit"><i class="fas fa-save"></i> Save</button>
</form>